In [1]:
!pip install textblob

Collecting textblob
  Downloading textblob-0.17.1-py2.py3-none-any.whl (636 kB)
     |████████████████████████████████| 636 kB 119 kB/s eta 0:00:01
Requirement already satisfied: nltk>=3.1 in /home/sultan/miniconda3/lib/python3.9/site-packages (from textblob) (3.7)
Requirement already satisfied: tqdm in /home/sultan/miniconda3/lib/python3.9/site-packages (from nltk>=3.1->textblob) (4.61.2)
Requirement already satisfied: click in /home/sultan/miniconda3/lib/python3.9/site-packages (from nltk>=3.1->textblob) (8.0.3)
Requirement already satisfied: joblib in /home/sultan/miniconda3/lib/python3.9/site-packages (from nltk>=3.1->textblob) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in /home/sultan/miniconda3/lib/python3.9/site-packages (from nltk>=3.1->textblob) (2022.1.18)
Installing collected packages: textblob
Successfully installed textblob-0.17.1

In [10]:
from textblob import Word
import pandas as pd
import numpy as np
import nltk

nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package wordnet to /home/sultan/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /home/sultan/nltk_data...
[nltk_data]   Unzipping corpora/omw-1.4.zip.

True

In [3]:
# Lemmatizing Words

In [14]:
df = pd.read_csv("cleaned.csv", index_col=0)

In [15]:
df['lemmatized'] = df["cleaned"].apply(lambda x: " ".join(Word(word).lemmatize() for word in x.split()))

In [16]:
df.head()

,reviews,word_count,char_count,avg_word,stop_words,reviews_lower,rmv_punc,rmv_punc_stp,cleaned,lemmatized
0,"Consider the Tesla Model 3. Mine is fun, which...",41,230,4.609756,14,"consider the tesla model 3. mine is fun, which...",consider the tesla model mine is fun which bri...,consider tesla model mine fun brings joy conte...,consider tesla model mine fun brings joy conte...,consider tesla model mine fun brings joy conte...
1,My experience with Tesla has been nothing shor...,397,2066,4.204030,155,my experience with tesla has been nothing shor...,my experience with tesla has been nothing shor...,experience tesla nothing short complete disast...,experience tesla nothing short complete disast...,experience tesla nothing short complete disast...
2,This is for our amazing experience with the se...,110,587,4.300000,49,this is for our amazing experience with the se...,this is for our amazing experience with the se...,amazing experience service center went beyond ...,amazing experience service center went beyond ...,amazing experience service center went beyond ...
3,Kevin and Bridget were amazing. I purchased a ...,127,703,4.543307,57,kevin and bridget were amazing. i purchased a ...,kevin and bridget were amazing i purchased a u...,kevin bridget amazing purchased used tesla abs...,kevin bridget amazing purchased used tesla abs...,kevin bridget amazing purchased used tesla ab ...
4,Do you love having your car held hostage for t...,59,309,4.254237,24,do you love having your car held hostage for t...,do you love having your car held hostage for t...,love car held hostage things arent fault locat...,love car held hostage things arent fault locat...,love car held hostage thing arent fault locati...

In [17]:
df.to_csv("lemmatized.csv")