In [3]:
from textblob import TextBlob
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv("lemmatized.csv", index_col=0)

The polarity metric refers to the degree to which the text analysed is positive or negative, between a range of -1 to 1. A score of 1 means highly positive whereas -1 is considered well and truly negative.

In [14]:
df['polarity'] = df['lemmatized'].apply(lambda x: TextBlob(x).sentiment[0])

In [15]:
df[['lemmatized', 'polarity']]

                                          lemmatized  polarity
0  consider tesla model mine fun brings joy conte...  0.400000
1  experience tesla nothing short complete disast...  0.093529
2  amazing experience service center went beyond ...  0.213542
3  kevin bridget amazing purchased used tesla ab ...  0.044318
4  love car held hostage thing arent fault locati... -0.066667
5  appalled poor service tesla location first can... -0.039773
6               dear dad buy tesla drive grad school  0.000000
7  impossible time service center sold something ... -0.166667
8  ended filing complaint california bureau autom... -0.054545
9  typically tesla berkeley service center needed...  0.097917

In [16]:
df['subjectivity'] = df['lemmatized'].apply(lambda x: TextBlob(x).sentiment[1])

In [19]:
df[['lemmatized', 'polarity', 'subjectivity']]

                                          lemmatized  polarity  subjectivity
0  consider tesla model mine fun brings joy conte...  0.400000      0.375000
1  experience tesla nothing short complete disast...  0.093529      0.521601
2  amazing experience service center went beyond ...  0.213542      0.458333
3  kevin bridget amazing purchased used tesla ab ...  0.044318      0.493750
4  love car held hostage thing arent fault locati... -0.066667      0.566667
5  appalled poor service tesla location first can... -0.039773      0.462085
6               dear dad buy tesla drive grad school  0.000000      0.000000
7  impossible time service center sold something ... -0.166667      0.525000
8  ended filing complaint california bureau autom... -0.054545      0.251515
9  typically tesla berkeley service center needed...  0.097917      0.418750

In [23]:
df.drop(['reviews_lower', 'rmv_punc', 'rmv_punc_stp'], axis=1, inplace=True)

In [26]:
df['stop_words_rate'] = df['stop_words'] / df['word_count']

In [29]:
df['cleaned_words_count'] = df['cleaned'].apply(lambda x: len(x.split()))

In [32]:
df['cleaned_rate'] = df['cleaned_words_count'] / df['word_count']

In [34]:
df.drop(['cleaned', 'lemmatized'], axis=1, inplace=True)

In [38]:
df.sort_values(by='polarity', ascending=False, inplace=True)

In [41]:
df.to_csv("cleaned.csv")

### Implemented By Muhammad Hanan Asghar